.btn {
  padding: 5px 10px;
  font-size: 0.9rem;
  border-radius: 6px;
  border: 1px solid rgb(153 153 153);
  background-color: rgb(68 68 70);
  outline: none;
  cursor: pointer;
  color: #e1e3e6; 
}