.label {
  display: block;
  margin:  0 0 12px 0;
}

.input {
  outline: none;
  color: #e1e3e6;
  background-color: rgb(68 68 70);
  border: 1px solid rgb(153 153 153);
  border-radius: 6px;
  font-size: 16px;
  padding: 5px 7px;
  min-width: 250px;
}